{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.8.0"}
        org.clojure/tools.macro {:mvn/version "0.1.5"}
        org.clojure/core.async {:mvn/version "0.4.474"}
        org.clojure/tools.logging {:mvn/version "0.4.1"}
        clj-stacktrace {:mvn/version "0.2.8"}
        cheshire {:mvn/version "5.8.1"}
        clj-http {:mvn/version "3.9.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
